* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(17, 17, 17);

  display: flex;
  justify-content: center;
  align-items: center;
}
.frame {
  width: 16rem;
  height: 16rem;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.frame .rotate {
  width: 30rem;
  height: 15rem;
  background: #00ff88;

  position: absolute;

  animation: rotate 3s infinite ease-in-out;
}
.frame .plane {
  width: 254px;
  height: 254px;
  background: rgb(17, 17, 17);

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.frame .plane .area {
  width: 230px;
  height: 230px;
  background: rgb(17, 17, 17);
  border: 1px solid #00ff88;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
.frame .plane .area img {
  width: 6rem;
  border-radius: 50%;

  filter: invert(1);
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}