* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(17, 17, 17);

  display: flex;
  justify-content: center;
  align-items: center;
}
.frem {
  width: 16rem;
  height: 16rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.frem .rotat {
  width: 30rem;
  height: 15rem;
  background: #00ff88;
  position: absolute;
  animation: rotats 3s infinite ease-in-out;
}
.frem .cant {
  width: 254px;
  height: 254px;
  background: rgb(17, 17, 17);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.frem .cant .area {
  width: 230px;
  height: 230px;
  background: rgb(17, 17, 17);
  border: 1px solid #00ff88;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
.frem .cant .area img {
  filter: invert(1);
  width: 6rem;
  border-radius: 50%;
}

@keyframes rotats {
  100% {
    transform: rotate(-360deg);
  }
}